<header class="top-bar">
  <div class="grid-header">
    <img src="/assets/LogoLYL.png" alt="Logo" class="logo" />
    <div class="contacto">
      <p class="titulo">Atención Personalizada!</p>
      <p class="numero">
        <img src="/assets/icon/icono whatsapp.png" alt="WhatsApp" class="icono-wsp" />
        +56 9 7190 3826
      </p>
    </div>
  </div>
</header>


<nav class="navbar">
  <ul class="nav-links">
    <li><a href="home">Inicio</a></li>
    <li><a href="productos">Productos</a></li>
    <li><a href="servicios">Servicios</a></li>
    <li><a href="quienes-somos">Quienes Somos</a></li>
  </ul>
  <div class="auth-links">
    <a href="">Ingresar</a>
    <span class="divider">|</span>
    <a href="">Registrar</a>
  </div>
</nav>