<ion-header></ion-header>
  
<ion-content>
    <div class="contenedor-imagenes">
       <a href="home"><img src="/assets/auto prmo.jpg" class="imagen-servicio" alt="Imagen 1" /></a>
       <a href="home"><img src="/assets/auto prmo.jpg" class="imagen-servicio" alt="Imagen 2" /></a>
       <a href="home"><img src="/assets/auto prmo.jpg" class="imagen-servicio" alt="Imagen 3" /></a>
       <a href="home"><img src="/assets/auto prmo.jpg" class="imagen-servicio" alt="Imagen 4" /></a>
       <a href="home"><img src="/assets/auto prmo.jpg" class="imagen-servicio" alt="Imagen 5" /></a>
      </div>
</ion-content>

