// src/app/pages/admin/admin.page.scss

/* Estilos para la página de administración */

/* Puedes agregar estilos específicos para la página de administración aquí */

ion-card[color] h2 {
  margin: 0;
  font-size: 2.2rem;
  text-align: center;
}