<ion-content class="home-page">
  <div class="breadcrumb">
    <a [routerLink]="'/home'">Inicio</a> &rarr;
    <span>Inicio</span>
  </div>

  <div class="banner">
    <img src="/assets/auto prmo.jpg" alt="Ofertas Imperdibles" />
    <div class="grad-overlay"></div>
    <div class="banner-text">
      <h1>OFERTAS <br /> IMPERDIBLES</h1>
    </div>
  </div>

  <div class="destacados" *ngIf="productosDestacados.length">
    <h2 style="margin-top:32px;">Productos destacados</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4" *ngFor="let producto of productosDestacados">
          <ion-card>
            <img *ngIf="producto.imagen_url" [src]="producto.imagen_url" [alt]="producto.nombre" style="max-height:180px;object-fit:cover;"/>
            <ion-card-header>
              <ion-card-title>{{producto.nombre}}</ion-card-title>
              <ion-card-subtitle>${{producto.precio}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>{{producto.descripcion}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
