<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/admin">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Inventario (Admin)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.precio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Etiquetas (separadas por coma)</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.etiquetas"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="nuevoProducto.enOferta">Oferta</ion-checkbox>
        <ion-checkbox [(ngModel)]="nuevoProducto.mostrarEnInicio" style="margin-left:16px;">Mostrar en inicio</ion-checkbox>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="agregarProducto()">Agregar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let producto of productos">
          <div *ngIf="editandoId !== producto.id" style="width:100%;">
            <b>{{producto.nombre}}</b> - ${{producto.precio}}
            <div>
              <span *ngFor="let et of producto.etiquetas" class="ion-padding-end">
                <ion-chip color="secondary" style="margin-right:4px;">
                  {{et}}
                  <ion-icon name="close-circle" (click)="eliminarEtiqueta(producto, et)" style="cursor:pointer;"></ion-icon>
                </ion-chip>
              </span>
            </div>
            <ion-checkbox slot="end" [(ngModel)]="producto.enOferta" (ionChange)="toggleOferta(producto)">Oferta</ion-checkbox>
            <ion-checkbox slot="end" [(ngModel)]="producto.mostrarEnInicio" (ionChange)="toggleMostrarEnInicio(producto)" style="margin-left:8px;">Mostrar en inicio</ion-checkbox>
            <ion-button fill="clear" color="primary" size="small" slot="end" (click)="editarProducto(producto.id)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" size="small" slot="end" (click)="eliminarProducto(producto.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
          <div *ngIf="editandoId === producto.id" style="width:100%;">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input [(ngModel)]="producto.nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Precio</ion-label>
              <ion-input type="number" [(ngModel)]="producto.precio"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nueva etiqueta</ion-label>
              <ion-input [(ngModel)]="nuevaEtiqueta"></ion-input>
              <ion-button size="small" (click)="agregarEtiqueta(producto, nuevaEtiqueta); nuevaEtiqueta=''">Agregar</ion-button>
            </ion-item>
            <div>
              <span *ngFor="let et of producto.etiquetas" class="ion-padding-end">
                <ion-chip color="secondary" style="margin-right:4px;">
                  {{et}}
                  <ion-icon name="close-circle" (click)="eliminarEtiqueta(producto, et)" style="cursor:pointer;"></ion-icon>
                </ion-chip>
              </span>
            </div>
            <ion-item lines="none">
              <ion-checkbox [(ngModel)]="producto.enOferta">Oferta</ion-checkbox>
              <ion-checkbox [(ngModel)]="producto.mostrarEnInicio" style="margin-left:16px;">Mostrar en inicio</ion-checkbox>
            </ion-item>
            <ion-button color="success" size="small" (click)="guardarEdicion(producto)">Guardar</ion-button>
            <ion-button color="medium" size="small" (click)="cancelarEdicion()">Cancelar</ion-button>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
