<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/admin">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Inventario (Admin)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-select [(ngModel)]="marcaSeleccionada" (ionChange)="onMarcaChange()" placeholder="Marca">
          <ion-select-option *ngFor="let marca of marcas" [value]="marca.Make_Name">{{ marca.Make_Name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-select [(ngModel)]="modeloSeleccionado" (ionChange)="onModeloChange()" placeholder="Modelo" [disabled]="!modelos.length">
          <ion-select-option *ngFor="let modelo of modelos" [value]="modelo.Model_Name">{{ modelo.Model_Name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Año</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.ano_compatible"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.stock" required min="0"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.precio" required min="0"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">URL de imagen</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.imagen_url"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="nuevoProducto.en_oferta">Oferta</ion-checkbox>
        <ion-checkbox [(ngModel)]="nuevoProducto.mostrar_en_inicio" style="margin-left:16px;">Mostrar en inicio</ion-checkbox>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="agregarProducto()"
        [disabled]="!nuevoProducto.nombre || !nuevoProducto.marca || nuevoProducto.stock === undefined || nuevoProducto.stock < 0 || nuevoProducto.precio === undefined || nuevoProducto.precio < 0">
        Agregar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
