<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/admin">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-title>Inventario (Admin)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.marca" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.modelo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Año</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.ano_compatible"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.stock" required min="0"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input type="number" [(ngModel)]="nuevoProducto.precio" required min="0"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">URL de imagen</ion-label>
        <ion-input [(ngModel)]="nuevoProducto.imagen_url"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="nuevoProducto.en_oferta">Oferta</ion-checkbox>
        <ion-checkbox [(ngModel)]="nuevoProducto.mostrar_en_inicio" style="margin-left:16px;">Mostrar en inicio</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Compatibilidad</ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-select [(ngModel)]="marcaCompatSeleccionada" (ionChange)="onMarcaCompatChange()" placeholder="Marca">
              <ion-select-option *ngFor="let marca of marcas" [value]="marca.Make_Name">{{ marca.Make_Name }}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="3">
            <ion-select [(ngModel)]="modeloCompatSeleccionado" (ionChange)="onModeloCompatChange()" placeholder="Modelo" [disabled]="!modelosCompat.length">
              <ion-select-option *ngFor="let modelo of modelosCompat" [value]="modelo.Model_Name">{{ modelo.Model_Name }}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="2">
            <ion-input type="number" placeholder="Año desde" [(ngModel)]="nuevoProductoCompat.ano_desde"></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input type="number" placeholder="Año hasta" [(ngModel)]="nuevoProductoCompat.ano_hasta"></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-button color="success" (click)="nuevoProductoCompat.marca_auto = marcaCompatSeleccionada; nuevoProductoCompat.modelo_auto = modeloCompatSeleccionado; agregarCompatibilidad()">+</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let c of compatibilidades; let i = index">
          <ion-col size="3">{{c.marca_auto}}</ion-col>
          <ion-col size="3">{{c.modelo_auto}}</ion-col>
          <ion-col size="2">{{c.ano_desde}}</ion-col>
          <ion-col size="2">{{c.ano_hasta}}</ion-col>
          <ion-col size="2">
            <ion-button color="danger" (click)="eliminarCompatibilidad(i)">-</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" color="primary" (click)="agregarProducto()"
        [disabled]="!nuevoProducto.nombre || !nuevoProducto.marca || nuevoProducto.stock === undefined || nuevoProducto.stock < 0 || nuevoProducto.precio === undefined || nuevoProducto.precio < 0">
        Agregar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Se elimina la lista de productos del inventario en esta vista -->
</ion-content>
