<ion-content>
  <div class="breadcrumb">
    <a [routerLink]="'/home'">Inicio</a> &rarr; 
    <span>Quienes Somos</span>
  </div>
  <img src="/assets/recurso-principal-34822169.jpg" class="img-center"/>
  <div class="texto-centro">
    <h2>LYL Automotriz</h2>
    <p>En LYL Automotriz nos mueve la pasión por tu seguridad y la de tu familia. Somos un equipo comprometido con la excelencia, la confianza y la atención personalizada, para que tu experiencia siempre sea cercana y transparente.<br><br>
    Nos dedicamos a cuidar tu vehículo como si fuera nuestro, entregando soluciones rápidas, honestas y de calidad. Creemos en el valor de la confianza, la innovación y el servicio humano.<br><br>
    ¡Gracias por elegirnos y ser parte de nuestra familia LYL!</p>
  </div>
</ion-content>